<h2> Product Details </h2>

<h3> <%= productDetails.name %> </h3>

<p> Price: $<%= productDetails.price %> </p>

<p> <%= productDetails.description %> </p>

<img src="<%= productDetails.imageUrl %>" />

<p> Added on <%= productDetails.dateAdded %> </p>
