<h2> Product Details </h2>

<h3> <%= productDetails.name %> </h3>

<p> Price: $<%= productDetails.price %> </p>

<p> <%= productDetails.description %> </p>

<img src="<%= productDetails.imageUrl %>" />

<p> Added on <%= productDetails.dateAdded %> </p>


<a href="/products/<%= productDetails._id %>/edit">
  Edit This Product
</a>

<a href="/products/<%= productDetails._id %>/delete">
  Delete This Product (GET version)
</a>

<form method="post" action="/products/<%= productDetails._id %>/delete">
  <button> Delete This Product (POST version) </button>
</form>
